<div class="hero-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-content">

          {% if site.title != '' %}
          <h1 class="text-center">{{ site.title }}</h1>
          {% endif %}

          {% if site.description != '' or site.enable_contact == true %}
          <p class="text-center">
            {% if site.description != '' %}
            {{ site.description }}
            {% endif %}

            {% if site.enable_contact == true %}
            {% include contact.html %}
            {% include contact-modal.html %}
            {% endif %}
          </p>
          {% endif %}

          <div class="hero-buttons">

            {% if site.googlescholar_username != '' %}
            <a href="https://scholar.google.com/{{ site.googlescholar_username }}" class="btn btn-default btn-lg"
              target="_blank" rel="noopener noreferrer">
              <i class="fa-brands fa-google-scholar"></i>GoogleScholar
            </a>
            {% endif %}

            {% if site.orcid_username != '' %}
            <a href="https://orcid.org/{{ site.orcid_username }}" class="btn btn-default btn-lg"
              target="_blank" rel="noopener noreferrer">
              <i class="fa-brands fa-orcid"></i>Orcid
            </a>
            {% endif %}

            {% if site.researchgate_username != '' %}
            <a href="https://www.researchgate.net/profile/{{ site.researchgate_username }}" class="btn btn-default btn-lg"
              target="_blank" rel="noopener noreferrer">
              <i class="fa-brands fa-researchgate"></i>ResearchGate
            </a>
            {% endif %}

            {% if site.linkedin_username != '' %}
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" class="btn btn-default btn-lg"
              target="_blank" rel="noopener noreferrer">
              <i class="fa-brands fa-linkedin"></i>LinkedIn
            </a>
            {% endif %}

          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- 向下箭头 -->
  <a class="section-jump text-center" href="#portfolio">
    <i class="fa fa-angle-down fa-3x"></i>
  </a>
  
</div>
